:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  --clr-primary-5: hsl(21, 62%, 45%);
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.grocery__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.grocery__form .bt-form {
  background: chartreuse;
  border: none;
  padding: 0 20px;
  color: #f12ab9;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.grocery__form .bt-form:hover {
  background: #4ee64e;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
  color: #fff;
}

.grocery__container .clear-btn {
  border: none;
  background: rgba(255, 0, 0, 0.549);
  color: #fff;
  padding: 10px 20px;
  margin-top: 2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.grocery__container .clear-btn:hover {
  background: red;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.grocery__container .grocery-list h2 {
  color: #ff2fee;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 1rem;
  font-size: 1rem;
}

.grocery__container .grocery-list .grocery-item {
  border: #c5d5a7 solid 1px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  color: rgba(233, 12, 97, 0.624);
  font-weight: bold;
  border-radius: 10px;
}

.grocery__container .grocery-list .grocery-item .bt-container {
  width: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grocery__container .grocery-list .grocery-item .bt-container .edit-btn, .grocery__container .grocery-list .grocery-item .bt-container .delete-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.grocery__container .grocery-list .grocery-item .bt-container .edit-btn:hover, .grocery__container .grocery-list .grocery-item .bt-container .delete-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.grocery__container .grocery-list .grocery-item .bt-container .edit-btn {
  color: #12aa1f;
}

.grocery__container .grocery-list .grocery-item .bt-container .delete-btn {
  color: rgba(255, 0, 0, 0.474);
}

.grocery__container .grocery-list .grocery-item .bt-container .delete-btn:hover {
  color: red;
}

.grocery-title {
  color: rgba(255, 47, 238, 0.46);
  font-size: 1.5rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */