@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Montserrat:wght@700&family=Roboto+Mono:wght@500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  display: inline-block;
}
.projects{
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
  padding: 10px;
}
.project-title{
  margin-bottom: 2rem;
}