@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Montserrat:wght@700&family=Roboto+Mono:wght@500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  display: inline-block;
}
.projects{
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
  padding: 10px;
}
.project-title{
  margin-bottom: 2rem;
}
.birthday-title{
  text-align: center;
  color: aliceblue;
  
}
.container-tours{
  /* border: red solid 1px; */
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}
.img-wrap{
  height: 280px;
  overflow: hidden;
}
.container-tours .tour-cards{
  border: rgb(232, 222, 222) solid 1px;
  margin-bottom: 1rem;
  padding: 10px;
  box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.7);
}
.container-tours p {
  color: rgb(73, 102, 111);
  font-size: 0.9rem;
  line-height: 1.5;
}

.container-tours h3{
  color: rgb(68, 64, 64);
}
.container-tours .read{
  color: rgb(0, 102, 255);
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.container-tours .price{
  color: rgb(0, 102, 255);
}
.god-qa{
  height: 100vh;
  display: flex;

}
.qa{
  /* border: rgb(98, 0, 255) solid 1px; */
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  gap: 1rem;
  color: rgb(172, 170, 170);
  background-image: linear-gradient(to left, #2bb7da, #00c2d4, #00cbbb, #00d192, #31d35c);
  border-radius: 5px;
}
.qa .card{
  margin-bottom: 10px;
  /* border: rgb(64, 18, 90) solid 1px; */
  padding: 10px;
  background: #ffff;
  color: #00c2d4;
  border-radius: 5px;
}

.qa .title{
  color: #ffff;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #12659d;
}
.qa .question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}
.qa .answer{
  /* border: red solid 1px; */
  /* height: 100%; */
  color: rgba(8, 20, 112, 0.563);
  height: 100;
  overflow: hidden;
  margin-top: 10px;
}
.show{
  height: 0;
}

.qa .fas{
  cursor: pointer;
}
.grid-title{
  text-align: center;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.god-menu img{
  display: inline-block;
}
.god-menu .card{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  -webkit-box-shadow: 8px 12px 15px -8px rgba(0,0,0,0.5); 
box-shadow: 8px 12px 15px -8px rgba(0,0,0,0.2);
  
  padding: 10px;
  gap: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}
.god-menu .card:hover{
  transform: scale(1.02);
  background: rgb(233, 217, 177);
}

.tabs-experience{
  border: #00c2d4 solid 1px;
}

.tabs-experience .list-duties{
  border: #00c2d4 solid 1px;
  list-style: none;
  margin: 10px;
}


.tabs-experience .btn{
  background: #fff;
  cursor: pointer;
}

.blue{
  background: blue;
  
}

@media only screen and (max-width: 868px) {
  .qa{
    grid-template-columns: 1fr;
  }
  .god-menu .card{
    grid-template-columns: 1fr;
  }
}
